@model AutoMakerModel
@{
    ViewData["title"] = Model.AutoMaker.Name;
    ViewData["keywords"] = Model.AutoMaker.SeoKeywords;
    ViewData["description"] = Model.AutoMaker.SeoDescription;
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg mb-4" data-setbg="/AssetsProducts/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>NVH CarShop</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>@Model.AutoMaker.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Categories Section Begin -->
<section class="categories mt-4">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in Model.Categories)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/@(item.CoverImage == null?"img/image-slash.jpg":item.CoverImage)">
                            <h5><a href="/Car?AutoMaker=@Model.AutoMaker.SeoAlias&Category=@item.Id">@item.Name</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (var item in Model.Categories)
                        {
                            <li data-filter=".@item.Id">@item.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model.Cars)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix @String.Join(" ",item.CarCategory.Select(e=>e.CategoryId))">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/@(item.CoverImage == null?"img/image-slash.jpg":item.CoverImage)">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a asp-area="" asp-controller="Car" asp-action="Detail" asp-route-id="@item.SeoAlias">@item.Name</a></h6>
                            @if(item.PromoPrice > 0)
                            {
                                <h6><del>@String.Format("{0:0,0 VND}", item.Price)</del></h6>
                            }
                            <h5 class="text-danger">@String.Format("{0:0,0 VND}", item.Price-item.PromoPrice)</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button onclick="viewMoreFunc()" type="button" style="float:right;color:white;" class="site-btn">Xem thêm</button>
    </div>

</section>

<!-- Featured Section End -->



@*<!-- Banner Begin -->
<div class="banner my-4">
    <div class="container">
        <div class="row">
                <div class="banner__pic">
                    <img src="/AssetsProducts/img/breadcrumb.jpg" alt="">
                </div>
        </div>
    </div>
</div>
<!-- Banner End -->*@

@section Scripts{
    <script>
        function viewMoreFunc(){
            var featured = $(".featured__controls .active"),
            filter = featured.data('filter');
            if(filter =="*"){
                window.location.href = "/Car?AutoMaker=@Model.AutoMaker.SeoAlias";
            }
            else{
                window.location.href = "/Car?AutoMaker=@Model.AutoMaker.SeoAlias&Category="+filter.replace(".","");
            }
            
        }
    </script>
}